span {
  color: blue; }

html, body {
  height: 100%; }

.full-section {
  position: relative;
  width: 60%;
  /* desired width */
  left: 20%;
  top: 50%;
  margin-top: -30%; }
  .full-section:before {
    content: "";
    display: block;
    padding-top: 100%;
    /* initial ratio of 1:1*/ }
  .full-section .image-section {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
    .full-section .image-section .image-wrap {
      position: absolute;
      width: 20%;
      height: 20%;
      top: 50%;
      margin-top: -10%;
      z-index: 1000; }
      .full-section .image-section .image-wrap img {
        width: 150%;
        height: 100%;
        transform: scale(1);
        transition: 1s; }
      .full-section .image-section .image-wrap .target-image {
        width: initial;
        height: initial;
        display: none; }
      .full-section .image-section .image-wrap .big-img {
        transform: scale(3) translate(40%); }

.color-thief-output {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0; }
  .color-thief-output .color-div {
    z-index: 0;
    position: absolute;
    border: 1px solid #fff;
    border-radius: 50%;
    border: none;
    font-size: 62.5%;
    margin: 0;
    background: radial-gradient(circle at 0% 50%, rgba(96, 16, 48, 0) 9px, rgba(250, 250, 250, 0.2) 30px, rgba(96, 16, 48, 0) 11px) 0px 10px, radial-gradient(at 100% 100%, rgba(96, 16, 48, 0) 9px, rgba(250, 250, 250, 0.2) 30px, rgba(96, 16, 48, 0) 11px), #8a3;
    background-size: 20px 20px; }

.color-thief-output .color-div:nth-child(1) {
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%; }

.color-thief-output .color-div:nth-child(2) {
  left: 10.09765%;
  top: 10.09765%;
  width: 79.8047%;
  height: 79.8047%; }

.color-thief-output .color-div:nth-child(3) {
  left: 16.33847%;
  top: 16.33847%;
  width: 67.32305%;
  height: 67.32305%; }

.color-thief-output .color-div:nth-child(4) {
  left: 20.1956%;
  top: 20.1956%;
  width: 59.60881%;
  height: 59.60881%; }

.color-thief-output .color-div:nth-child(5) {
  left: 22.57948%;
  top: 22.57948%;
  width: 54.84104%;
  height: 54.84104%; }

.color-thief-output .color-div:nth-child(6) {
  left: 24.05283%;
  top: 24.05283%;
  width: 51.89434%;
  height: 51.89434%; }

.color-thief-output .color-div:nth-child(7) {
  left: 24.96343%;
  top: 24.96343%;
  width: 50.07314%;
  height: 50.07314%; }

.color-thief-output .color-div:nth-child(8) {
  left: 25.52622%;
  top: 25.52622%;
  width: 48.94755%;
  height: 48.94755%; }

.color-thief-output .color-div:nth-child(9) {
  left: 25.87406%;
  top: 25.87406%;
  width: 48.25189%;
  height: 48.25189%; }

.color-thief-output .color-div:nth-child(10) {
  left: 26.08903%;
  top: 26.08903%;
  width: 47.82193%;
  height: 47.82193%; }

.color-thief-output .color-div:nth-child(11) {
  left: 26.2219%;
  top: 26.2219%;
  width: 47.5562%;
  height: 47.5562%; }

.full-hover .color-thief-output {
  opacity: 0.2; }

.test-div {
  width: 170px;
  height: 50px;
  margin-left: 0;
  margin-top: 20px;
  background-color: #000080;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 0.3) 20%, rgba(255, 255, 255, 0.3) 30%, rgba(255, 255, 255, 0) 40%);
  border-bottom-right-radius: 60px 20px;
  border-bottom-left-radius: 60px 20px;
  box-shadow: inset -60px 20px 10px rgba(0, 0, 0, 0.3), 0 7px 5px rgba(0, 0, 0, 0.15); }

/*# sourceMappingURL=style.css.map */
